<br/>
<div class="downloads_pic">
  <%= image_tag("spreadsheets_2.jpg", class: "container")%>
</div>
<br/>
<br/>
<div>
  <h1 class="heading-title text-center"> REAL ESTATE PRIMER </h1>
  <br/>
  <br/>

  <button type="button" class="btn btn-success btn-lg offset-5 col-2", id="download_btn" >
    Download
  </button>
</div>
