
  <br/>
  <br/><br/><br/>
  <div class="heading-title text-center">
      <h3>OUR FINANCIAL MODELING KITS</h3>
      <p class="p-top-30 half-txt">
      Hit the ground running with our finance products.
      <br/> 
      Start with our limited time free-trial, or dive deep in with our full products</p>
  </div>

  <!-- section for product-->
  <div class="col-10 offset-1">
    <section>
    <!-- product header -->
    <h3>REAL ESTATE CASH FLOW PRIMER</h3>
    <hr/>
    </divs> 
    <p> the model is oriented around providing best in class advice</p> 
    <br class="clr"/><br class="clr"/>
    <!-- Product details section-->
    <div class="rows">
      <!-- product image -->
      <div>
        <%= image_tag("products/Realestateprimer.png", class: "float-left col-5 product-outline")%>
      </div>
        
      <!-- card section-->
      <div class="float-left col-5 offset-1">
        <br/>
        <!-- Card 1 -->
        <div class="card mb-3 product-bg" style="max-width: 540px;">
          <div class="row no-gutters">
            <p class="col-md-4 price">
              $0
            </p>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">30 Day Trial</h5>
                <br/>
                <p class="card-text">Test it out</p>
                <br/>
                <button type="button" class="btn btn-outline-primary">BUY NOW</button>
              </div>
            </div>
          </div>
        </div>


        <!-- Card 2 -->
        <div class="card mb-3 product-bg" style="max-width: 540px;">
          <div class="row no-gutters">
            <p class="col-md-4 price">
              $50
            </p>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Purchase</h5>
                <br/>
                <p class="card-text">Full featured release</p>
                <br/>
                <button type="button" class="btn btn-outline-primary">BUY NOW</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of card section -->  
    </div>
    <!-- end of product detail sections -->  
    <br/><br/>
    </section>

 

<br/><br/><br/>