<br/>


<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
                    <div class="row">
                        <div class="heading-title text-center">
                            <h3 class="text-uppercase">Brought to you by...</h3>
                            <p class="p-top-30 half-txt">Engineers, investors, and spreadsheet nerds who started out as colleagues and friends simply sharing our mutual interests in great spreadsheets and models. 
                            We built models for the companies we worked at, ourselves, and now for you!
                            <br><br>
                            We hope our efforts to distill great financial models into gorgeous and easy to use models, help you past the anxiety of complex decisions - to a succesful financial future! </p>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="https://image.freepik.com/free-photo/man-standing-with-a-black-t-shirt_1187-1045.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <br><br><br>                                        
                                        Turning models into elegant insights
                                        <br><br>
                                        <h4>philosophy</h4>
                                        <p><i>“I apologize for such a long letter. I didn't have time to write a short one.”
                                        </i><br>
                                        ― Mark Twain
                                        </p>

                                    </div>
                                    <div class="s-link">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Jason McBride</h5>
                                <span>founder & Developer</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="https://image.freepik.com/free-photo/elegant-man-with-thumbs-up_1149-1595.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <br><br><br>                                        
                                        Taming complex realities into mathematical models
                                        <br><br>
                                        <h4>philosophy</h4>
                                        <p><i>“The highest form of pure thought is mathematics.”
                                        </i><br>
                                        ― Plato
                                        </p>
                                    </div>
                                    <div class="s-link">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>John Haller</h5>
                                <span>Mathematician</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="https://image.freepik.com/free-photo/well-dressed-executive-with-crossed-arms_1098-3930.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <br><br><br>                                        
                                        Investor and CPA, running numbers and making bets
                                        <br><br>
                                        <h4>philosophy</h4>
                                        <p><i>“Experience is what you get, when you don't get what you want.”
                                        </i><br>
                                        ― Randy Pausch
                                        </p>
                                    </div>
                                    <div class="s-link">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Tim Lee</h5>
                                <span>Retired Investor, CPA</span>
                            </div>
                        </div>

                    </div>

                </div>