<br/>
<div class="downloads_pic">
  <%= image_tag("spreadsheets.jpeg", class: "container")%>
</div>
<br/>
<br/>
<div class="white-heading">
  <h1 class="heading-title text-center"> REAL ESTATE PRIMER </h1>
</div>
