<br/>
<br/><br/>

<div class="container">
  <div class="row">
    <div class="heading-title text-center">
      <br><br><br><br>
      <h3 class="text-uppercase">models for clarity</h3>
      <p class="p-top-30 half-txt"> We built our models to help you navigate complex financial decisions.
          <br><br>
        Get past analysis-paralysis, with anxiety free insights 
      </p>
    </div>
    <div>
      <%= image_tag("software.png", class: "container col-8 offset-2")%>
    </div>
  </div>
</div>


