<br/>
<br/><br/>

<div class="container">
  <br><br>
  <div class="row">
    <div class="heading-title text-center col-4 offset-1">
      <br/><br/>
      <h3 class="text-uppercase">models for clarity</h3>
      <p class="p-top-30 half-txt"> We built our models to help you navigate complex financial decisions.
          <br><br>
        Get past analysis-paralysis, with anxiety free insights 
      </p>
    </div>
    <div class="text-center float-left col-4 offset-1">
      <%= image_tag("software.png", class: "container")%>
    </div>
  </div>
</div>
<br/><br/><br/>

<!-- 'models section' -->
<div class="col-10 offset-1">
  <h3 > ECONOMY </h3>
  <hr/>
  <br/><br/>
</div>

<div class="col-10 offset-1">
  <h3 > MARKET </h3>
  <hr/>
  <br/><br/>
</div>

<div class="col-10 offset-1">
  <h3 > FINANCING </h3>
  <hr/>
  <br/><br/>
</div>

<div class="col-10 offset-1">
  <h3 > MANAGEMENT </h3>
  <hr/>
  <br/><br/>
</div>

<div class="col-10 offset-1">
  <h3 > PROPERTY </h3>
  <hr/>
  <br/><br/>
</div>

