@import "bootstrap";

*{
  margin:0;
  padding: 0;
}




body{
  margin:0;
  font-size:20px;
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
}

/*Home page background*/
#homebackground{
  background-image: url('FoundationHomepage.png');
  background-repeat: no-repeat;
  background-position: top;
  height:100vh; 
  align-items:center;
}
#homebackground h1{
  padding-top: 40px;
  font-size: 80px;
  font-style: normal;
  font: calibri;
  color: white;
  text-align: center;
}

#homebackground h2 {
  
  font-size: 40px;
  font-style: italic;
  font: calibri;
  color: white;
  text-align: center;
}

/* semi-transparent box over the background   */
.transparent-layer {
    background-color: rgba(68, 114, 196, 0.5);
    position:absolute;
    top: 30vh;
    width: 100vw;
    height: 40vh;
    z-index: 1;
    align-items: center;
  }
