// Place all the styles related to the models_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



hr {
    border: none;
    height: 5px;
    color:  rgba(68, 114, 196,1); /* old IE */
    background-color:  rgba(68, 114, 196,1); /* Modern Browsers */
}